@import 'variables';
* {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    background-color: $bglight !important;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1.1em !important;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    overflow-x: hidden;
    // color: $black !important;
}

// global style ========================================
// bg
.bg-white {
    background-color: $white !important;
}

.bg-gold {
    background-color: $gold !important;
}

.bg-black {
    background-color: $black !important;
}

.bg-gradient {
    background: rgb(2, 0, 36) !important;
    background: linear-gradient(177deg, rgba(2, 0, 36, 1) 0%, rgba(153, 153, 153, 1) 0%, rgba(255, 255, 255, 1) 100%) !important;
}

.bg-transparent {
    background-color: transparent !important;
}

// btn
.btn-outline-gold {
    padding: 8px 20px !important;
    border: 1px $gold solid !important;
    border-radius: 2em;
    color: $gold !important;
    transition-delay: .1s;
    &:hover {
        background-color: $gold !important;
        color: $white !important;
        transition-delay: .1s;
    }
}

.btn-outline-black {
    padding: 15px 30px !important;
    border: 1px $black solid !important;
    border-radius: 2em !important;
    color: $black !important;
    transition: all .2s ease-in-out;
    font-weight: 500 !important;
    font-size: .7em !important;
    &:hover {
        background-color: $black !important;
        color: $white !important;
        transition-delay: .1s;
    }
}

.btn-gold {
    padding: 15px 30px !important;
    border: 1px $gold solid !important;
    border-radius: 2em !important;
    color: $white !important;
    background-color: $gold !important;
    transition: all .2s ease-in-out;
    font-weight: 500 !important;
    font-size: .7em !important;
    position: relative;
    z-index: 0;
    &:hover {
        background-color: $gold !important;
        color: $white !important;
        transform: scale(1.03);
        transition: all .2s;
    }
}

// hr
.seprator-black {
    border-color: $black !important;
}

// text color
.text-gold {
    color: $gold !important;
}

.text-gray {
    color: $gray !important;
}

#fda-disclaimer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    padding: 20px;
    z-index: 99999;
}

#fda-disclaimer p {
    color: #cfcfcf;
    margin: 0;
    font-size: 14px;
}

// page header
// .page-hero-section {
//     position: relative;
// }
.page-hero-jumbotron>* {
    z-index: 10;
    position: relative;
    color: $white !important;
    text-align: center;
}

.page-hero-jumbotron {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20vh 0;
    position: relative;
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(51, 51, 51, 0.438);
        z-index: 2;
    }
    #video-background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 1s opacity;
    }
}

.page-title {
    font-weight: 600;
    font-size: 2.5em;
}

.page-desc {
    font-weight: 400;
    font-size: 1em;
}