* {
    font-family: 'Poppins', sans-serif;
}

html,
body {
    background-color: #f9f8f9 !important;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1.1em !important;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    overflow-x: hidden;
}

// global style ========================================
// bg
.bg-white {
    background-color: #fff !important;
}

.bg-gold {
    background-color: #bf9332 !important;
}

.bg-black {
    background-color: #333 !important;
}

.bg-gradient {
    background: rgb(2, 0, 36) !important;
    background: linear-gradient(177deg, rgba(2, 0, 36, 1) 0%, rgba(153, 153, 153, 1) 0%, rgba(255, 255, 255, 1) 100%) !important;
}

.bg-transparent {
    background-color: transparent !important;
}

// btn
.btn-outline-gold {
    padding: 8px 20px !important;
    border: 1px #bf9332 solid !important;
    border-radius: 2em;
    color: #bf9332 !important;
    transition-delay: .1s;
    &:hover {
        background-color: #bf9332 !important;
        color: #fff !important;
        transition-delay: .1s;
    }
}

.btn-outline-black {
    padding: 8px 20px !important;
    border: 1px #333 solid !important;
    border-radius: 2em;
    color: #333 !important;
    transition-delay: .1s;
    &:hover {
        background-color: #333 !important;
        color: #fff !important;
        transition-delay: .1s;
    }
}

.btn-gold {
    padding: 8px 20px !important;
    border: 1px #bf9332 solid !important;
    border-radius: 2em !important;
    color: #fff !important;
    background-color: #bf9332 !important;
    transition-delay: .1s;
    &:hover {
        background-color: #bf9332 !important;
        color: #fff !important;
        transition-delay: .1s;
    }
}

// text color
.text-gold {
    color: #bf9332 !important;
}

.text-gray {
    color: #999 !important;
}

// breadcrumbs
.bc-nav {
    ol {
        li {
            font-size: .8em !important;
            color: #bf9332 !important;
            text-transform: uppercase;
            font-weight: 500;
            &:before {
                color: #fff !important;
            }
            a {
                color: #fff !important;
            }
        }
    }
}

.text-black {
    color: #333 !important;
}

// navbar style
.navbar-nav {
    li {
        a {
            font-size: .7em;
            font-weight: 500;
        }
    }
}

.navbar-nav {
    li.active {
        a {
            color: #bf9332 !important;
        }
    }
}

// footer
footer {
    .copyrights {
        font-size: .8em !important;
        span {
            color: #999 !important;
        }
    }
}

ul {
    .list-item {
        .list-links {
            color: #999 !important;
        }
        &:hover {
            .list-links {
                color: #bf9332 !important;
            }
        }
    }
}

.footer-menu {
    font-size: .8em !important;
    color: #999;
    h6 {
        font-size: .9em !important;
    }
}

.legal-text {
    font-size: .8em !important;
    color: #999;
}

// index ========================================
.hero-jumbotron {
    // position: relative;
    width: 100%;
    height: auto;
}