@import 'variables';
@import 'mixins';
// navbar style
.navbar-collapse {
    height: 100% !important;
}

.navbar-nav {
    height: 100% !important;
    li {
        // border-bottom: 2px #fff solid !important;
        margin: 0 5px;
        height: 100% !important;
        a {
            font-size: .7em;
            font-weight: 500;
        }
        &:hover {
            a.nav-link {
                color: #bf9332 !important;
            }
        }
    }
    li.active {
        // border-bottom: 2px #bf9332 solid !important;
        a {
            color: #bf9332 !important;
        }
    }
}

@include sm {
    .dropdown-menu {
        margin: 0 !important;
        width: 100% !important;
    }
}

.dropdown-menu {
    width: 240px !important;
    a {
        &:hover {
            color: #bf9332 !important;
        }
        &:focus {
            background-color: #bf9332;
            color: #fff !important;
        }
    }
}

.dropdown-toggle::after {
    display: none !important;
}